<h2>Employee Management</h2>
 
<!-- FORM -->
<h3>{{ employee.id ? 'Edit Employee' : 'Add Employee' }}</h3>
 
<input placeholder="First Name" [(ngModel)]="employee.firstName"><br><br>
<input placeholder="Last Name" [(ngModel)]="employee.lastName"><br><br>
<input placeholder="Department" [(ngModel)]="employee.department"><br><br>
<input placeholder="Email" [(ngModel)]="employee.email"><br><br>
<input placeholder="Salary" [(ngModel)]="employee.salary"><br><br>
 
<button (click)="saveEmployee()">
  {{ employee.id ? 'Update' : 'Add' }}
</button>
 
<hr>
 
<!-- TABLE -->
<h3>Employee List</h3>

<button (click)="sortAsc()">
  Sort Salary ▲
</button>
<button (click)="sortDesc()">
  Sort Salary ▼
</button>

<br>
<br>

<table border="1" cellpadding="8">
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Email</th>
    <th>Salary</th>
    <th>Actions</th>
  </tr>
 
  <tr *ngFor="let emp of employees">
    <td>{{ emp.firstName }} {{ emp.lastName }}</td>
    <td>{{ emp.department }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.salary }}</td>
    <td>
      <button (click)="viewEmployee(emp)">View</button>
      <button (click)="editEmployee(emp)">Edit</button>
      <button (click)="deleteEmployee(emp.id)">Delete</button>
    </td>
  </tr>
</table>
 
<hr>
 
<!-- VIEW SECTION -->
<div *ngIf="selectedEmployee">
  <h3>Employee Details</h3>
  <p><b>ID:</b> {{ selectedEmployee.id }}</p>
  <p><b>Name:</b> {{ selectedEmployee.firstName }} {{ selectedEmployee.lastName }}</p>
  <p><b>Department:</b> {{ selectedEmployee.department }}</p>
  <p><b>Email:</b> {{ selectedEmployee.email }}</p>
  <p><b>Salary:</b> {{ selectedEmployee.salary }}</p>
 
  <button (click)="closeView()">Close</button>
</div>